body {
	margin: 170px 20px 20px;
	text-align: center;
}

.wrapper {
	display: inline-block;
	position: relative;
	width: 640px;
	height: 480px;
	background-color: #000;
}

img {
	position: absolute;
	right: 10px;
	top: -160px;
}

.knocked-over {
	transform: rotate(450deg);
	transition: transform 1s;
}

video {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	height: 480px;
	transform: scaleX(-1); /* flip video, like a mirror */
}

.motion-box {
	display: none;
	position: absolute;
	border: 4px solid #fff;
	transition: all .1s;
}
